 <!--
    <span id="summonerData">

        <h1 id="name">Summoner Name: {{name}}</h1>

        <h2 id="summonerLevel">Level: {{summonerLevel}}</h2>

        <h3 id="id">User ID: {{id}}</h3>

        <h3 id="revisionDate">Revision Date{{revisionDate}}</h3>

        <h3 id="profileIconId">{{profileIconId}}</h3>
    </span>
-->
    <ul id="result-list">
        <li id="summoner-id-result">{{id}}</li>
        <li id="summoner-name-result" style="margin-left: 1px; margin-top: -2px;">{{name}}</li>
        <li id="summoner-level" <="" ul="">
        </li>
    </ul>
